@font-face {
    font-family: 'Karla Regular';
    src: url('/assets/fonts/Karla-Regular.eot');
    src: url('/assets/fonts/Karla-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Karla-Regular.woff') format('woff'),
    url('/assets/fonts/Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@mixin karla{
    font-family: "Karla Regular", sans-serif;
}