//ADAPTIVE
$max-for-tablet: 1023px;
$max-for-mobile: 767px;

//SIZES
$block-padding: 90px;

//colors
$light-blue: #e5eef0;
$light-blue_hover: #d5dddf;
$light-blue_font: #93a1a7;
$light-blue_font_hover: #23282f;
$blue-button: #29c2e1;
$blue-button_hover: #4ecfe9;
$white-gray: #55595f;
$light-frame: #e4e9ed;
$orange: #f7941d;

body{
    padding: 0px;
    margin: 0px;
    padding-top: 50px;
}
a{
    text-decoration: none;
}
.triangles-bg{
    position: absolute;
    right: 0px;
    bottom: -$block-padding;
    background-image: url("../../../assets/img/bg/truangles.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 212px;
    height: 109px;
}
.to-center{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

//GRID
.container{
    width: 970px;
    height: 100%;
    margin: auto;
}
//GRID_BLOCKS
.grid-block{
    margin-bottom: 55px;

    .grid-block_icon-bg{
        background-color: $light-blue;

        &:hover{
            background-color: $orange;
        }    
    }

    .grid-block_icon{
        margin-right: 30px;
        width: 67px;
        height: 67px;
        float: left;
    }
    .grid-block_message{
        color: $white-gray;
        overflow: hidden;

        .grid-block_message_title{
            @include raleway-medium;
            font-size: 20px;
            color: $light-blue_font_hover;
            margin-bottom: 10px;
        }
        .grid-block_message_sub{
            @include open-sans;
            font-size: 14px;
            color: $white-gray;
        }
    }
}
.block{
    padding-top: $block-padding;
    padding-bottom: $block-padding;
    
    .block-title{
        margin-bottom: 60px;

        .block-title_main{
            @include raleway-extra-bold;
            font-size: 30px;
        }
        .block-title_sub{
            @include karla;
            font-size: 18px;
        }
    }
}


//BUTTONS
.blue-button{
    height: 38px;
    background-color: $blue-button;
    border: 0px transparent;
    color: white;
    border-radius: 18px 18px 18px 18px;
    text-transform: uppercase;
    font-size: 14,5px;
    @include karla;

    &:hover{
        color: $light-blue_font;
        background-color: $blue-button_hover;
    }
}

//MEDIA
@media (max-width: $max-for_tablet){
    .container{
        width: 720px;
    }
}
@media (max-width: $max-for_mobile){
    .container{
        width: 100%;
    }
}