//ADAPTIVE
$max-for-tablet: 1200px;
$max-for-mobile: 780px;

//colors
$light-blue: #e5eef0;
$light-blue_font: #93a1a7;

body{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
}
.container{
    width: 1170px;
    height: 100%;
    margin: auto;
}
@media (max-width: $max-for_tablet){
    .container{
        width: 768px;
    }
}
@media (max-width: $max-for_mobile){
    .container{
        width: 100%;
    }
}