#contact-us_empty-space{
    background-color: rgba(#000, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 101;
    position: fixed;
    top: 0px;
}

#contact-us{
    background-color: #FFF;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 102;
    position: absolute;
    padding-top: $block-padding/2;
    padding-bottom: $block-padding/2;
    border: $light-frame;

    #contact-us_close{
        position: absolute;
        top: 5px;
        right: 5px;
        height: 30px;
        width: 30px;
    }

    #contact-us_container{

        #contact-us_title{
            text-align: center;
            @include raleway-extra-bold;
            font-size: 25px;
            color: $light-blue_font_hover;
            text-transform: uppercase;
        }
    
        #contact-us_grid{
            margin: 30px 0px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
            padding: 0px 12px;

            #contact-us_grid_comment{
                grid-column: 1/3;
                height: 100px;
                resize: none;
                border: 1px solid $light-frame;
                color: $light-blue_font;
                @include karla;
                font-size: 15px;
                text-transform: uppercase;
                padding-left: 19px;
            }
        }
    }
    
}
.invisible{
    display: none;
}
.visible{
    display: block;
}
