#features{

    #features_container{
        position: relative;

        #features_grid{
            position: relative;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .lorem-ico{
                background-image: url("../../../../assets/img/icons/lorem_ico.png");
                background-position: center;
                background-repeat: no-repeat;
                
                &:hover{
                    background-image: url("../../../../assets/img/icons/lorem_ico_hover.png");
                }
            }
        }
    }
}
@media (max-width: $max-for-tablet){
    #features{
        #features_container{
            #features_grid{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}
@media (max-width: $max-for-mobile){
    #features{
        #features_container{
            #features_grid{
                display: grid;
                grid-template-columns: 1fr;

                .grid-block{
                    margin-bottom: 20px;
                }
            }
        }
    }
}