#footer{
    
    #footer_container{
        border-top: 1px solid $light-frame;
        border-bottom: 1px solid $light-frame;
        padding: $block-padding 0px;

        #footer_grid{
            display: grid;
            grid-template-columns: 1.5fr 1fr 1fr;

            #footer_column-gird-menu{
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                >a:hover{
                    filter: brightness(0.6);
                }
            }

            .footer_column_line-header{
                @include raleway-medium;
                font-size: 18px;
                color: $light-blue_font_hover;

                &::first-letter{
                    text-transform: uppercase;
                }
            }

            .footer_grid_column{
                .footer_column_sub{
                    padding-top: 30px;
                }

                #footer_email_form{
                    display: grid;
                    grid-template-columns: max(200px) 42px;

                    #footer_newsletter_email{
                        height: 36px;
                        line-height: 40px;
                        float: left;
                        border: 1px solid $light-frame;
                        color: $light-blue_font;
                        @include karla;
                        font-size: 15px;
                        text-transform: uppercase;
                        padding-left: 19px;
    
                    }

                    #footer_newsletter_submit{
                        height: 40px;
                        width: 42px;
                        border: 0px transparent;
                        float: left;
                        border-radius: 0px;
                    }
                }

                

                

                .footer_column_line{
                    text-transform: uppercase;
                    margin-bottom: 25px;
                    @include karla;
                    font-size: 14px;
                    color: $light-blue_font;
    
                    .footer_column_line-bold{
                        color: $light-blue_font_hover;
                    }
                }
            }
        }   
    }
    #footer_copyright{
        margin-top: 25px;
        text-align: center;
        text-transform: uppercase;
        @include karla;
        font-size: 14px;
        color: $light-blue_font;
    }
}
@media (max-width: $max-for_mobile){
    #footer{
        #footer_container{

            #footer_grid{
                display: grid;
                grid-template-columns: 1fr;

                

                .footer_grid_column{
                    text-align: center;

                    #footer_email_form{
                        display: grid;
                        grid-template-columns: max(200px) 42px;
                        justify-content: center;
                        align-content: center;
                    }

                    .footer_column_sub{
                        overflow: hidden;
                        height: 0px;

                    }
                    
                    .footer_columb_sub_opened{
                        overflow: hidden;
                        height: auto;
                        
                    }

                    
                    #footer_column-gird-menu{
                        display: grid;
                        grid-template-columns: 1fr;

                    }

                    .footer_column_line-header{
                        background-color: $light-blue_hover;
                        padding: 10px 0px;
                        transition: 0.4s;

                        &:hover{
                            filter: brightness(0.9);
                            transition: 0.4s;
                        }
                    }
                    
                    form{
                        display: inline-block;
                    }
                }


                

            }
        }
    }
}