#header{
    height: 50px;
    background-color: $light-blue;

    #header_container{
        display: grid;
        grid-template-columns: 1fr minmax(150px, auto);

        #header_info{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .header_info{
            @include karla;
            color: $light-blue_font;
            text-transform: uppercase;
            padding: 13px 0px;
            font-size: 13px;
        }
     
        #header_logo{
            padding-top: 18px;
            
        }

        #header_mobile{
            font-size: 14px;
        }

        .info_icons{
            margin-right: 10px;
            position: relative;
            transform: translate(0%, 25%);
        }
    }
}

@media (max-width: $max-for_mobile){
    #header{
        #header_container{
            grid-template-columns: 1fr;

            #header_logo{
                text-align: center;
            }
            #header_info{
                display: none;
            }
        }   
    }
}
