//CONSTS
$SPEED_OF_ANIM_NAV: 0.4s;

.nav{
    height: 75px;
    z-index: 90;
    background-color: transparent;

    #nav_empty-space{
        margin: 0px;
        width: 100vw;
        height: 100vh;
        background-color: transparent;
    }

    #nav_container{
        display: grid;
        grid-template-columns: 3fr repeat(8, 1fr);
        align-items: center;
        justify-content: center;
        background-color: #fff;

        #nav_logo{
            background-image: url("../../../../assets/img/icons/nav-logo.png");
            background-size: cover;
            background-repeat: no-repeat;
            width: 39px;
            height: 33px;
        }

        .nav_link{
            text-align: center;
            @include karla;
            text-transform: uppercase;
            color: $light-blue_font;
            font-size: 14,5px;

            &:hover{
                color: $light-blue_font_hover;
            }
        }

        .nav_blue-button{
            color: white;
        }

        
    }
}
@media (max-width: $max-for_tablet){
    .nav{
        #nav_container{
            display: grid;
            grid-template-columns: repeat(8, 1fr);
        }
        #nav_logo{
            display: none;
        }
    }
}
@media (max-width: $max-for_mobile){
    .nav{
        position: fixed;
        transition: $SPEED_OF_ANIM_NAV;
        height: auto;
        width: 100%;
        transform: translateY(-300%);

        #nav_container{
            height: auto;
            display: grid;
            grid-template-columns: 30%;

            >*{
                margin: 10px 0px;
            }
        }
        #nav_logo{
            display: none;
        }
    }
    .nav-active{
        transition: $SPEED_OF_ANIM_NAV;
        transform: translateY(0%);
    }
}