//CONSTS
$SPEED-ANIM-PROJECTS: 0.4s;

#our-projects{
    #our-projects_container{
        #our-projects_grid{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 60px;

            .our-projects_grid-object{
                border: 1px solid $light-frame;
                transition: $SPEED-ANIM-PROJECTS;
                height: 264px;
                background-image: url("assets/img/projects/1.png");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;

                
                &:hover .our-projects_grid-object_text{
                    display: block;
                }
                &:hover{
                    box-shadow: 0 0 10px #e4e9ed;
                    transition: $SPEED-ANIM-PROJECTS;
                }
                &:hover .our-projects_grid-object_bg{
                    background-color: rgba(#f4f4f4, 0.8);
                    transition: $SPEED-ANIM-PROJECTS;
                }

                .our-projects_grid-object_bg{
                    width: 100%;
                    height: 100%;
                    transition: $SPEED-ANIM-PROJECTS;

                }

                .our-projects_grid-object_text{
                    display: none;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);

                    .our-projects_grid-object_title{
                        @include karla;
                        text-transform: uppercase;
                        text-align: center;
                        color: $light-blue_font_hover;
                        font-size: 18px;
                    }
                    .our-projects_grid-object_ico{
                        width: 13px;
                        height: 13px;
                        background-image: url("assets/img/icons/our-projects_grid-object_ico.png");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        margin: 10px auto;
                    }
                }
            }
        }
    }
}