#our-clients{
    #our-clients_container{

        #our-clients_grid{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            row-gap: 80px;
            column-gap: 90px;

            .our-client_object{
                position: relative;

                &:hover .clients-title{
                    color: $light-blue_font_hover;
                }
                
                >img{
                    display: block;
                    margin-bottom: 70px;
                }
                
                .clients-title{
                    position: absolute;
                    text-align: center;
                    bottom: 0px;
                    left: 50%;
                    transform: translateX(-50%);
                    color: $white-gray;
                    @include raleway-regular;
                    font-size: 14px;
                }
                
            }
        }
    }
}
@media (max-width: $max-for_tablet){
    #our-clients{
        #our-clients_container{
    
            #our-clients_grid{
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                row-gap: 20px;
                column-gap: 30px;
            }
        }
    }
}
@media (max-width: $max-for_mobile){
    #our-clients{
        #our-clients_container{
    
            #our-clients_grid{
                display: block;

                .our-client_object{
                    margin: 2px;
                    display: inline-block;
                    height: 68px;

                    >img{
                    }

                    .clients-title{
                        display: none;
                    }
                }

            }
        }
    }
}