$SPEED_OF_SPINING: 2s;
$SPEED_OF_TRANSPARENT: 2s;

#preloader{
    width: 100%;
    height: 100%;
    top:0px;
    position: fixed;
    z-index: 110;
    background-color: #000;

    #loader{
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid #FFF;
        border-top-color: $blue-button;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        animation: $SPEED_OF_SPINING spin infinite linear;
    }
}
.preloader_active{
    opacity: 1;
    display: block;
    transition: $SPEED_OF_TRANSPARENT all;
}
.preloader_done{
    opacity: 0;
    transition: $SPEED_OF_TRANSPARENT all;
}
.prealoader_disabled{
    display: none;
}

@keyframes spin{
    from{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}