@font-face {
  font-family: "Karla Regular";
  src: url("/assets/fonts/Karla-Regular.eot");
  src: url("/assets/fonts/Karla-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Karla-Regular.woff") format("woff"), url("/assets/fonts/Karla-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  height: 100%;
  margin: auto;
}

.nav_blue-button {
  height: 38px;
  background-color: #29c2e1;
  border: 0px transparent;
  color: white;
  border-radius: 18px 18px 18px 18px;
  text-transform: uppercase;
  font-size: 14, 5px;
  font-family: "Karla Regular", sans-serif;
}
.nav_blue-button:hover {
  color: #93a1a7;
  background-color: #4ecfe9;
}

@media (max-width: 1200px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 780px) {
  .container {
    width: 100%;
  }
}
#header {
  height: 50px;
  background-color: #e5eef0;
}
#header #header_container {
  display: grid;
  grid-template-columns: 1fr minmax(150px, auto);
}
#header #header_container #header_info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#header #header_container .header_info {
  font-family: "Karla Regular", sans-serif;
  color: #93a1a7;
  text-transform: uppercase;
  padding: 13px 0px;
  font-size: 13px;
}
#header #header_container #header_logo {
  padding-top: 18px;
}
#header #header_container #header_mobile {
  font-size: 14px;
}
#header #header_container .info_icons {
  margin-right: 10px;
  position: relative;
  transform: translate(0%, 25%);
}

@media (max-width: 780px) {
  #header #header_container {
    grid-template-columns: 1fr;
  }
  #header #header_container #header_logo {
    text-align: center;
  }
  #header #header_container #header_info {
    display: none;
  }
}
#nav {
  height: 75px;
  background-color: #fff;
}
#nav #nav_container {
  display: grid;
  grid-template-columns: 3fr repeat(8, 1fr);
  align-items: center;
  justify-content: center;
}
#nav #nav_container #nav_logo {
  background-image: url("../../../../assets/img/icons/nav-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 39px;
  height: 33px;
}
#nav #nav_container .nav_link {
  text-align: center;
  font-family: "Karla Regular", sans-serif;
  text-transform: uppercase;
  color: #93a1a7;
  font-size: 14, 5px;
}
#nav #nav_container .nav_link:hover {
  color: #23282f;
}
#nav #nav_container .nav_blue-button {
  color: white;
}

#sitesFrame {
  border: 1px solid black;
  height: 100px;
  overflow: auto;
}