@font-face {
  font-family: "Karla Regular";
  src: url("/assets/fonts/Karla-Regular.eot");
  src: url("/assets/fonts/Karla-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Karla-Regular.woff") format("woff"), url("/assets/fonts/Karla-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Extra Bold";
  src: url("/assets/fonts/Raleway-ExtraBold.eot");
  src: url("/assets/fonts/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Raleway-ExtraBold.woff") format("woff"), url("/assets/fonts/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Regular";
  src: url("/assets/fonts/Raleway-Regular.eot");
  src: url("/assets/fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Raleway-Regular.woff") format("woff"), url("/assets/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("/assets/fonts/OpenSans-Regular.eot");
  src: url("/assets/fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/OpenSans-Regular.woff") format("woff"), url("/assets/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Medium";
  src: url("/assets/fonts/Raleway-Medium.eot");
  src: url("/assets/fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Raleway-Medium.woff") format("woff"), url("/assets/fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Bold";
  src: url("/assets/fonts/Raleway-Bold.eot");
  src: url("/assets/fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Raleway-Bold.woff") format("woff"), url("/assets/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 0px;
  margin: 0px;
  padding-top: 50px;
}

a {
  text-decoration: none;
}

.triangles-bg {
  position: absolute;
  right: 0px;
  bottom: -90px;
  background-image: url("../../../assets/img/bg/truangles.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 212px;
  height: 109px;
}

.to-center {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.to-center-vertical {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 970px;
  height: 100%;
  margin: auto;
}

.grid-block {
  margin-bottom: 55px;
}
.grid-block .grid-block_icon-bg {
  background-color: #e5eef0;
}
.grid-block .grid-block_icon-bg:hover {
  background-color: #f7941d;
}
.grid-block .grid-block_icon {
  margin-right: 30px;
  width: 67px;
  height: 67px;
  float: left;
}
.grid-block .grid-block_message {
  color: #55595f;
  overflow: hidden;
}
.grid-block .grid-block_message .grid-block_message_title {
  font-family: "Raleway Medium", sans-serif;
  font-size: 20px;
  color: #23282f;
  margin-bottom: 10px;
}
.grid-block .grid-block_message .grid-block_message_sub {
  font-family: "Open Sans Regular", sans-serif;
  font-size: 14px;
  color: #55595f;
}

.gray-block {
  background-color: #e5eef0;
}

.block {
  padding-top: 90px;
  padding-bottom: 90px;
}
.block .block-title {
  margin-bottom: 60px;
}
.block .block-title .block-title_main {
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
.block .block-title .block-title_sub {
  font-family: "Karla Regular", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.blue-button {
  height: 38px;
  background-color: #29c2e1;
  border: 0px transparent;
  color: white;
  border-radius: 18px 18px 18px 18px;
  text-transform: uppercase;
  font-size: 14, 5px;
  font-family: "Karla Regular", sans-serif;
}
.blue-button:hover {
  color: #93a1a7;
  background-color: #4ecfe9;
}

@media (max-width: 1023px) {
  .container {
    width: 720px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 95%;
    padding: 0 10px;
  }
}
#header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background-color: #e5eef0;
  z-index: 100;
}
#header #header_container {
  display: grid;
  grid-template-columns: 1fr minmax(150px, auto);
}
#header #header_container #header_nav-button {
  display: none;
}
#header #header_container #header_info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#header #header_container .header_info {
  font-family: "Karla Regular", sans-serif;
  color: #93a1a7;
  text-transform: uppercase;
  padding: 13px 0px;
  font-size: 13px;
}
#header #header_container #header_logo {
  padding-top: 18px;
}
#header #header_container #header_mobile {
  font-size: 14px;
}
#header #header_container .info_icons {
  margin-right: 10px;
  position: relative;
  transform: translate(0%, 25%);
}

@media (max-width: 767px) {
  #header #header_container {
    grid-template-columns: 1fr 5fr;
  }
  #header #header_container #header_nav-button {
    display: block;
    border-right: 1px solid #93a1a7;
    border-left: 1px solid #93a1a7;
    opacity: 0.5;
    width: 70px;
    margin-left: 20px;
    position: relative;
  }
  #header #header_container #header_nav-button:hover {
    background-color: #d5dddf;
  }
  #header #header_container #header_nav-button .nav-button_lines,
#header #header_container #header_nav-button .nav-button_lines::before,
#header #header_container #header_nav-button .nav-button_lines::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    background-color: #23282f;
  }
  #header #header_container #header_nav-button .nav-button_lines {
    width: 40%;
  }
  #header #header_container #header_nav-button .nav-button_lines::before,
#header #header_container #header_nav-button .nav-button_lines::after {
    width: 100%;
  }
  #header #header_container #header_nav-button .nav-button_lines::before {
    content: "";
    transform: translate(-50%, -9px) rotate(0deg);
    transition: 0.5s;
  }
  #header #header_container #header_nav-button .nav-button_lines::after {
    content: "";
    transform: translate(-50%, 7px) rotate(0deg);
    transition: 0.5s;
  }
  #header #header_container #header_nav-button .lines_active {
    background-color: transparent;
    transition: 0.5s;
  }
  #header #header_container #header_nav-button .lines_active::before {
    transform: translate(-50%, -1px) rotate(45deg);
    transition: 0.5s;
  }
  #header #header_container #header_nav-button .lines_active::after {
    transform: translate(-50%, -1px) rotate(-45deg);
    transition: 0.5s;
  }
  #header #header_container #header_logo {
    text-align: center;
  }
  #header #header_container #header_info {
    display: none;
  }
}
.nav {
  height: 75px;
  z-index: 90;
  background-color: transparent;
}
.nav #nav_empty-space {
  margin: 0px;
  width: 90vw;
  height: 100vh;
  background-color: transparent;
}
.nav #nav_container {
  display: grid;
  grid-template-columns: 3fr repeat(8, 1fr);
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.nav #nav_container #nav_logo {
  background-image: url("../../../../assets/img/icons/nav-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 39px;
  height: 33px;
}
.nav #nav_container .nav_link {
  text-align: center;
  font-family: "Karla Regular", sans-serif;
  text-transform: uppercase;
  color: #93a1a7;
  font-size: 14, 5px;
}
.nav #nav_container .nav_link:hover {
  color: #23282f;
}
.nav #nav_container .nav_blue-button {
  color: white;
}

@media (max-width: 1023px) {
  .nav #nav_container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
  .nav #nav_logo {
    display: none;
  }
}
@media (max-width: 767px) {
  .nav {
    position: fixed;
    transition: 0.4s;
    height: auto;
    width: 100%;
    transform: translateY(-300%);
  }
  .nav #nav_container {
    height: auto;
    display: grid;
    grid-template-columns: 30%;
  }
  .nav #nav_container > * {
    margin: 10px 0px;
  }
  .nav #nav_logo {
    display: none;
  }

  .nav-active {
    transition: 0.4s;
    transform: translateY(0%);
  }
}
#hero {
  height: 750px;
  background-image: url("../../../../assets/img/bg/hero-bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s;
}
#hero #hero_container {
  position: relative;
}
#hero #hero_container #hero_message-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 670px;
}
#hero #hero_container #hero_message-frame .hero_message {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
#hero #hero_container #hero_message-frame #hero_first-line {
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 48px;
}
#hero #hero_container #hero_message-frame #hero_second-line {
  font-family: "Raleway Regular", sans-serif;
  font-size: 14px;
}

@media (max-width: 1023px) {
  #here #hero_container #hero_message-frame {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #hero {
    background-position: bottom left;
    transition: 1s;
    height: 500px;
  }
  #hero #hero_container #hero_message-frame {
    width: 100%;
  }
}
#sitesFrame {
  border: 1px solid black;
  height: 100px;
  overflow: auto;
}

#make-your-own-landing #make-your-own-landing_container {
  display: grid;
  grid-template-columns: 640px 1fr;
  column-gap: 20px;
}
#make-your-own-landing #make-your-own-landing_container #make-your-own-landing_container_left-column #make-your-own-landing_left-column_message-title {
  margin-bottom: 40px;
}
#make-your-own-landing #make-your-own-landing_container #make-your-own-landing_container_left-column #make-your-own-landing_left-column_message-title #make-your-own-landing_message-title_main {
  font-family: "Raleway Extra Bold", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  color: #23282f;
}
#make-your-own-landing #make-your-own-landing_container #make-your-own-landing_container_left-column #make-your-own-landing_left-column_message-title #make-your-own-landing_message-title_sub {
  font-family: "Karla Regular", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  color: #23282f;
}
#make-your-own-landing #make-your-own-landing_container #make-your-own-landing_container_left-column #make-your-own-landing_message-title_letter {
  font-family: "Open Sans Regular", sans-serif;
  font-size: 14px;
  color: #55595f;
}
#make-your-own-landing #make-your-own-landing_container #make-your-own-landing_container_left-column #make-your-own-landing_container_left-column_image {
  margin-top: 60px;
  width: 585px;
  height: 301px;
  background-image: url("../../../../assets/img/bg/make-your-own-landing_container_left-column_image_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#make-your-own-landing #make-your-own-landing_container #make-your-own-landing_right-column {
  display: grid;
  grid-template-columns: 1fr;
}
#make-your-own-landing #make-your-own-landing_container #make-your-own-landing_right-column #make-your-own-landing_right-column_icon_first {
  background-image: url("../../../../assets/img/icons/make-your-own-landing_right-column_icon_first.png");
  background-position: center;
  background-repeat: no-repeat;
}
#make-your-own-landing #make-your-own-landing_container #make-your-own-landing_right-column #make-your-own-landing_right-column_icon_first:hover {
  background-image: url("../../../../assets/img/icons/make-your-own-landing_right-column_icon_first_hover.png");
}
#make-your-own-landing #make-your-own-landing_container #make-your-own-landing_right-column #make-your-own-landing_right-column_icon_second {
  background-image: url("../../../../assets/img/icons/make-your-own-landing_right-column_icon_second.png");
  background-position: center;
  background-repeat: no-repeat;
}
#make-your-own-landing #make-your-own-landing_container #make-your-own-landing_right-column #make-your-own-landing_right-column_icon_second:hover {
  background-image: url("../../../../assets/img/icons/make-your-own-landing_right-column_icon_second_hover.png");
}
#make-your-own-landing #make-your-own-landing_container #make-your-own-landing_right-column #make-your-own-landing_right-column_icon_third {
  background-image: url("../../../../assets/img/icons/make-your-own-landing_right-column_icon_third.png");
  background-position: center;
  background-repeat: no-repeat;
}
#make-your-own-landing #make-your-own-landing_container #make-your-own-landing_right-column #make-your-own-landing_right-column_icon_third:hover {
  background-image: url("../../../../assets/img/icons/make-your-own-landing_right-column_icon_third_hover.png");
}

@media (max-width: 1023px) {
  #make-your-own-landing {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  #make-your-own-landing #make-your-own-landing_container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 60px;
  }
  #make-your-own-landing #make-your-own-landing_container #make-your-own-landing_right-column {
    display: grid;
    grid-template-columns: 1fr;
  }
  #make-your-own-landing #make-your-own-landing_container #make-your-own-landing_right-column .grid-block {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  #make-your-own-landing {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  #make-your-own-landing #make-your-own-landing_container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 60px;
  }
  #make-your-own-landing #make-your-own-landing_container #make-your-own-landing_container_left-column #make-your-own-landing_container_left-column_image {
    width: 100%;
  }
  #make-your-own-landing #make-your-own-landing_container #make-your-own-landing_right-column {
    display: grid;
    grid-template-columns: 1fr;
  }
  #make-your-own-landing #make-your-own-landing_container #make-your-own-landing_right-column .make-your-own-landing_right-column_line {
    margin-bottom: 20px;
  }
}
#features #features_container {
  position: relative;
}
#features #features_container #features_grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#features #features_container #features_grid .lorem-ico {
  background-image: url("../../../../assets/img/icons/lorem_ico.png");
  background-position: center;
  background-repeat: no-repeat;
}
#features #features_container #features_grid .lorem-ico:hover {
  background-image: url("../../../../assets/img/icons/lorem_ico_hover.png");
}

@media (max-width: 1023px) {
  #features #features_container #features_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  #features #features_container #features_grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  #features #features_container #features_grid .grid-block {
    margin-bottom: 20px;
  }
}
#pricing #pricing_container #pricing_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}
#pricing #pricing_container #pricing_grid .pricing_price-frame {
  border: 1px solid #e4e9ed;
  transition: 0.3s;
}
#pricing #pricing_container #pricing_grid .pricing_price-frame:hover {
  box-shadow: 0 0 10px #e4e9ed;
  transition: 0.3s;
}
#pricing #pricing_container #pricing_grid .pricing_price-frame > * {
  text-align: center;
}
#pricing #pricing_container #pricing_grid .pricing_price-frame .price-frame_price-scheme {
  font-family: "Raleway Bold", sans-serif;
  text-transform: uppercase;
  color: #23282f;
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 10px;
}
#pricing #pricing_container #pricing_grid .pricing_price-frame .price-frame_price-count {
  font-family: "Raleway Medium", sans-serif;
  font-size: 18px;
  color: #55595f;
  padding: 20px 0px;
  border-top: 1px solid #e4e9ed;
  border-bottom: 1px solid #e4e9ed;
}
#pricing #pricing_container #pricing_grid .pricing_price-frame .price-frame_price-count .counter {
  color: #f7941d;
}
#pricing #pricing_container #pricing_grid .pricing_price-frame .price-frame_price-description {
  padding: 40px 60px;
  font-family: "Open Sans Regular", sans-serif;
  font-size: 15px;
  color: #55595f;
}
#pricing #pricing_container #pricing_grid .pricing_price-frame .blue-button {
  margin-bottom: 40px;
}

@media (max-width: 1023px) {
  #pricing #pricing_container #pricing_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 767px) {
  #pricing #pricing_container #pricing_grid {
    display: grid;
    grid-template-columns: 70%;
    row-gap: 20px;
    justify-content: center;
  }
}
#who-we-are {
  padding-bottom: 10px;
}
#who-we-are #who-we-are_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 70px;
  margin-bottom: 100px;
}
#who-we-are #who-we-are_grid .who-we-are-grid_column {
  font-family: "Open Sans Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
}
#who-we-are #who-we-are-interesting-frame {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  padding-top: 75px;
}
#who-we-are #who-we-are-interesting-frame #grid-block-big_ico-1 {
  background-image: url("../../../../assets/img/icons/grid-block-big_ico-1.png");
}
#who-we-are #who-we-are-interesting-frame #grid-block-big_ico-2 {
  background-image: url("../../../../assets/img/icons/grid-block-big_ico-2.png");
}
#who-we-are #who-we-are-interesting-frame #grid-block-big_ico-3 {
  background-image: url("../../../../assets/img/icons/grid-block-big_ico-3.png");
}
#who-we-are #who-we-are-interesting-frame #grid-block-big_ico-4 {
  background-image: url("../../../../assets/img/icons/grid-block-big_ico-4.png");
}
#who-we-are #who-we-are-interesting-frame .grid-block-big .grid-block-big_ico {
  float: left;
  align-content: middle;
  width: 40px;
  height: 40px;
  margin-right: 27px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#who-we-are #who-we-are-interesting-frame .grid-block-big .grid-block-big_message {
  overflow: hidden;
}
#who-we-are #who-we-are-interesting-frame .grid-block-big .grid-block-big_message .grid-block-big_message_main {
  font-family: "Karla Regular", sans-serif;
  font-size: 60px;
  line-height: 40px;
}
#who-we-are #who-we-are-interesting-frame .grid-block-big .grid-block-big_message .grid-block-big_message_sub {
  font-family: "Karla Regular", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
}

@media (max-width: 1023px) {
  #who-we-are #who-we-are-interesting-frame {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
  }
  #who-we-are #who-we-are-interesting-frame .grid-block-big .grid-block-big_ico {
    float: left;
    align-content: middle;
    width: 30px;
    margin-right: 20px;
  }
  #who-we-are #who-we-are-interesting-frame .grid-block-big .grid-block-big_message {
    overflow: hidden;
  }
  #who-we-are #who-we-are-interesting-frame .grid-block-big .grid-block-big_message .grid-block-big_message_main {
    font-family: "Karla Regular", sans-serif;
    font-size: 40px;
    line-height: 40px;
  }
  #who-we-are #who-we-are-interesting-frame .grid-block-big .grid-block-big_message .grid-block-big_message_sub {
    font-family: "Karla Regular", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  #who-we-are {
    padding-bottom: 90px;
  }
  #who-we-are #who-we-are_grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
  #who-we-are #who-we-are-interesting-frame {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    justify-content: center;
    padding-top: 0px;
  }
  #who-we-are #who-we-are-interesting-frame .grid-block-big {
    position: relative;
  }
  #who-we-are #who-we-are-interesting-frame .grid-block-big .grid-block-big_ico {
    align-content: middle;
    display: block;
    float: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #who-we-are #who-we-are-interesting-frame .grid-block-big .grid-block-big_message {
    margin-top: 50px;
  }
  #who-we-are #who-we-are-interesting-frame .grid-block-big .grid-block-big_message .grid-block-big_message_main {
    font-family: "Karla Regular", sans-serif;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }
  #who-we-are #who-we-are-interesting-frame .grid-block-big .grid-block-big_message .grid-block-big_message_sub {
    font-family: "Karla Regular", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
    margin-top: 5px;
    text-align: center;
  }
}
#our-clients #our-clients_container #our-clients_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 80px;
  column-gap: 90px;
}
#our-clients #our-clients_container #our-clients_grid .our-client_object {
  position: relative;
}
#our-clients #our-clients_container #our-clients_grid .our-client_object:hover .clients-title {
  color: #23282f;
}
#our-clients #our-clients_container #our-clients_grid .our-client_object > img {
  display: block;
  margin-bottom: 70px;
}
#our-clients #our-clients_container #our-clients_grid .our-client_object .clients-title {
  position: absolute;
  text-align: center;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  color: #55595f;
  font-family: "Raleway Regular", sans-serif;
  font-size: 14px;
}

@media (max-width: 1023px) {
  #our-clients #our-clients_container #our-clients_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 20px;
    column-gap: 30px;
  }
}
@media (max-width: 767px) {
  #our-clients #our-clients_container #our-clients_grid {
    display: block;
  }
  #our-clients #our-clients_container #our-clients_grid .our-client_object {
    margin: 2px;
    display: inline-block;
    height: 68px;
  }
  #our-clients #our-clients_container #our-clients_grid .our-client_object .clients-title {
    display: none;
  }
}