body {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  height: 100%;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 780px) {
  .container {
    width: 100%;
  }
}
@font-face {
  font-family: "Karla Regular";
  src: url("/assets/fonts/Karla-Regular.eot");
  src: url("/assets/fonts/Karla-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Karla-Regular.woff") format("woff"), url("/assets/fonts/Karla-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
#header {
  height: 50px;
  background-color: #e5eef0;
}
#header #header_container {
  display: grid;
  grid-template-columns: 1fr minmax(150px, auto);
}
#header #header_container #header_info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#header #header_container .header_info {
  font-family: "Karla Regular", sans-serif;
  color: #93a1a7;
  text-transform: uppercase;
  padding: 13px 0px;
  font-size: 13px;
}
#header #header_container #header_logo {
  padding-top: 18px;
}
#header #header_container #header_mobile {
  font-size: 14px;
}
#header #header_container .info_icons {
  margin-right: 10px;
  position: relative;
  transform: translate(0%, 25%);
}

@media (max-width: 780px) {
  #header #header_container {
    grid-template-columns: 1fr;
  }
  #header #header_container #header_logo {
    text-align: center;
  }
  #header #header_container #header_info {
    display: none;
  }
}
#sitesFrame {
  border: 1px solid black;
  height: 100px;
  overflow: auto;
}